/*-----------------------------------*/
/* main.css: Add and override styles */
/*-----------------------------------*/

/* ADD background */
.header.masthead {
  background-image: url("./static/img/header.jpg");
}

/* ADD background color to intro text background */
.intro-text-background {
  padding: 35px; 
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 6rem;
}

/* CHANGE padding to intro text */
.intro-text {
  padding-top: 400px;  
  padding-bottom: 200px;      
}

/* CHANGE color to text */
.intro-lead-in {
  color: #6c757d /* Raven */
}

/* CHANGE color to text */
.intro-heading {
  color: #6c757d; /* Raven */
}


/* ----- Changes to Buttons ----- */

/* ADD radius to buttons */
.btn {
  border-radius: 300px;           
}

/* CHANGE color on button border */
.btn-primary {
  border-color: #6c757d; /* Raven */
}

/* CHANGE color on button hover */
.btn-primary:hover {
  color: black !important;
}

/* ADD spacing to Top of page Button */
.btn-space {
  margin: 10px;
}


/* ----- Changes to Card ----- */

/* CHANGE border for Card */
.card {
  border: 1.25px solid rgba(0, 0, 0, .50);
  background-color: rgba(245, 245, 245, 0.9); 

}

/* CHANGE font size for Card subtitle */
h5.card-subtitle {
    font-size: 1.2em; 
}

/* CHANGE padding for Card body */
.card-body {
  padding: 0rem;
}

/* CHANGE margin for Card title */
.card-title {
  margin-bottom: 1rem;
  color: #6c757d; /* Raven */
}

/* CHANGE margin for Card title */
.card-title:hover {
  color: #fed136;
}

    
/* ----- Changes to Dropdown ----- */

/* CHANGE  to dropdown padding */
.dropdown-item {
  padding: 0 0 0 5px;
}


/* CHANGES to dropdown menu */
.dropdown-menu {
  text-align: left; 
  background-color: rgba(245, 245, 245, 0.9);
  border: 2px solid rgba(0, 0, 0, .25rem); 
  border-color: #6c757d; /* Raven */
  border-radius: 15px;
}

/* CHANGE color of dropdown menu when hover */
.dropdown-menu:hover {
  background-color: #fed136;
}

/* ADD to dropdown menu */
.dropdown-menu {
  max-height:500px;
  overflow-y:auto;    
}

/* CHANGE colour of dropdown toggle */
.dropdown-toggle[aria-expanded="true"] {
  background:#FFF !important;
  color:#000 !important;
}

/* CHANGE colour of dropdown-item when active */
.dropdown-item:active {
  color: #000;
  background-color: #fff;
}

/* ----- Changes to Back To Top Button ----- */

/* Back to top button */
.bttop {
  width: 65px;
  background: #fed136d4;
  position: fixed;
  right: -9px;
  bottom: 33px;
  z-index: 9998;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* Back to top button hover */
.bttop:hover {
   background: #fed136;
   box-shadow: 5px 10px 25px #555;
}

/* Back to top button icon */
.bttop i {
  color: #ffffffd4;
  font-size: 45px;
  padding: 7px;   
}

/* Back to top button icon hover */
.bttop i:hover {
 color: #fff; 
}