<!DOCTYPE html>
<html lang="en">

<head>
                                                          <title> Data Centric Development Project "ADD_FORM_RECIPE.HTML" (Paul Bennett) </title>
    <!-- Include standard links                       --> {% include 'head.html' %}                                                       
    <!-- My Custom styles for this template           --> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}"> 
</head>
 
<!-- Bootstrap theme (Creative) downloaded from  https://github.com/BlackrockDigital/startbootstrap-agency -->
<body>
    
  <!-- Navigation Navbar -->
  {% include 'navbar_recipes.html' %} 

<div class="bg-primary">
  <section>    
    <div class="container add-form-recipe">
        <h3 class="text-center recipe-heading"> Add Recipe  
        <p  class="text-dark text-center recipe-p mt-2"> Please complete form below and once completed click on Add new recipe button below. </p> </h3> 
        
        <h3 class="text-dark text-left recipe-heading"> 
        
        <!-- FLASH MESSAGING-->
        {% include 'messaging.html' %} 
        
        <!-- ADD NEW RECIPE FORM -->
      <form method="POST" action="" autocomplete="off"> <!-- Disabled autocompletion --> 
          
          <div class="form-row">
            <!-- CUISINE SELECTION -->
            <div class="form-group col-md-4">
              <label for="selectCuisine" class="recipe-label"> Cuisine </label>
                <select class="custom-select" id="selectCuisine" required>
                  <option selected="true" disabled="disabled"> Cuisine </option>
                    {% for cuisine in cuisines_list %}
                      <option value="{{ cuisine }}"> {{ cuisine }} </option> 
                    {% endfor %}
                </select>
            </div>
            
            <!-- CATEGORY SELECTION -->
            <div class="form-group col-md-4">
              <label for="selectCategory" class="recipe-label"> Categories </label>
                <select class="custom-select" id="selectCategory" required>
                  <option selected="true" disabled="disabled"> Category </option>
                    {% for category in categories_list %}
                      <option value="{{ category }}"> {{ category }} </option> 
                    {% endfor %}
                </select>
            </div>
            
            <!-- AUTHOR INPUT -->
            <div class="form-group col-md-4">
              <label for="inputAuthor" class="recipe-label"> Author </label>
                <input type="text" class="form-control" id="inputAuthor" placeholder="Original recipe author">
            </div>
          </div>
          
          <!-- RECIPE NAME INPUT -->
          <div class="form-group col-md-8">
            <label for="inputRecipename" class="recipe-label"> Recipe name </label>
              <input type="text" class="form-control" id="inputRecipename" placeholder="Name of recipe" required>
          </div>
            
          <!-- RECIPE DESCRIPTION INPUT -->
          <div class="form-group col-md-8">
            <label for="inputRecipedesc" class="recipe-label"> Recipe description </label>
              <textarea class="form-control" id="inputRecipenamedesc" rows="2" placeholder="Description of recipe" required></textarea>
            </div>  
            
          <!-- IMAGE URL INPUT -->
          <div class="form-group col-md-8">
            <label for="inputImageurl" class="recipe-label"> Image url </label>
              <input type="text" class="form-control" id="inputImageurl" placeholder="Add link to recipe image">
          </div>
          
        <div class="form-row">        
          <!-- PREPARATION TIME INPUT -->
          <div class="form-group col-md-4">
            <label for="inputPreptime" class="recipe-label"> Preparation time </label>
              <input type="text" class="form-control" id="inputPreptime" placeholder="Preparation time" required>
          </div>
          
          <!-- COOKING TIME INPUT -->
          <div class="form-group col-md-4">
            <label for="inputCooktime" class="recipe-label"> Cooking time </label>
              <input type="text" class="form-control" id="inputCooktime" placeholder="Cooking time" required>
          </div> 
          
          <!-- SERVING INPUT -->
          <div class="form-group col-md-4">
            <label for="inputServings" class="recipe-label"> Serves </label>
              <input type="text" class="form-control" id="inputServings" placeholder="Servings" required>
          </div> 
        </div>
        
        <div class="form-row">
          <!-- DIFFICULTY SELECTION -->
            <div class="form-group col-md-4">
              <label for="selectDiff" class="recipe-label"> Difficulty </label>
                <select class="custom-select" id="selectDiff" required>
                  <option selected="true" disabled="disabled"> Difficulty </option>
                    {% for difficulty in difficulties_list %}
                      <option value="{{ difficulty }}"> {{ difficulty }} </option> 
                    {% endfor %}
                </select>
            </div> 
            
            <!-- MAIN INGREDIENT INPUT -->
            <div class="form-group col-md-4">
              <label for="inputMainingredient" class="recipe-label"> Main Ingredient </label>
                <input type="text" class="form-control" id="inputMainingredient" placeholder="Input Main ingredient" required>
            </div>
            
            <!-- ALLERGEN SELECTION -->
            <div class="form-group col-md-4">
              <label for="selectAllergen" class="recipe-label"> Allergen </label>
                <select class="custom-select" id="selectAllergen">
                  <option selected="true" disabled="disabled"> Allergen </option>
                    {% for allergen in allergens_list %}
                      <option value="{{ allergen }}"> {{ allergen }} </option> 
                    {% endfor %}
                </select>
            </div>     
        </div>
        
        <!-- INPUT INGREDIENT LIST -->
        <div class="form-row"> 
          <div class="form-group col-md-5">
            <div class="ingredients-list" id="ingredients_list">
              <label for="inputIngredients" class="recipe-label"> Ingredients </label>
              <input type="text" class="input form-control mb-2" id="inputMainingredient1" placeholder="Ingredient" required />
              <input type="text" class="input form-control mb-2" id="inputMainingredient2" placeholder="Ingredient" />  
              <input type="text" class="input form-control mb-2" id="inputMainingredient3" placeholder="Ingredient" /> 
              <input type="text" class="input form-control mb-2" id="inputMainingredient4" placeholder="Ingredient" />
              <input type="text" class="input form-control mb-2" id="inputMainingredient5" placeholder="Ingredient" />
              
              <div class="list-more-ingredients">
                <button> <span class="more-ingredients"> <i class="fa fa-plus-circle"aria-hidden="true"></i> Add new ingredient </span> </button>
              </div>
            </div> 
          </div>
        
          <!-- INPUT METHOD LIST --> 
          <div class="form-group col-md-5">
            <div class="instructions-list" id="instructions_list">
              <label for="inputInstructions class="recipe-label"> Instructions </label>
              <textarea class="input form-control mb-2" id="inputInstruction"  rows="2" placeholder="Instructions" required></textarea>
              <textarea class="input form-control mb-2" id="inputInstruction1" rows="2" placeholder="Instructions"></textarea>
              
              <div class="list-more-instructions">
                <button> <span class="more-instructions"> <i class="fa fa-plus-circle"aria-hidden="true"></i> Add new instruction </span> </button>
              </div>
          </div>
          
       </div>
      </form>
      
    </div>
  </section>
</div>
        
  <!-- Footer -->
  {% include 'footer.html' %}
  
  <!-- Script -->
  {% include 'script.html' %} 
    
</body>
</html>           