<!DOCTYPE html>
<html lang="en">

<head>
  <title> Data Centric Development Project "ADD_RECIPE.HTML" (Paul Bennett) </title>
  <!-- Include standard links                       -->{% include 'head.html' %}
  <!-- My Custom styles for this template           -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}">
</head>

<!-- Bootstrap theme (Creative) downloaded from  https://github.com/BlackrockDigital/startbootstrap-agency -->

<body>

  <!-- NAVIGATION NAVBAR -->
  {% include 'navbar.html' %}

  <div class="bg-primary">
    <section>
      <div class="container add-form-recipe">
        <h3 class="text-center recipe-heading"> Add Recipe
          <p class="text-dark text-center recipe-p mt-2"> Please complete form below and once completed click on Add new recipe button below. </p>
        </h3>

        <h3 class="text-dark text-left recipe-heading">

          <!-- FLASH MESSAGING-->
          {% include 'messaging.html' %}

          <!-- ADD NEW RECIPE FORM -->
          <form method="POST" action="{{ url_for('add_recipe', username=session['username']) }}" id="add_recipe_form" autocomplete="off">
            <!-- Disabled autocompletion -->

            <div class="form-row">
              <!-- ADD CUISINE SELECTION -->
              <div class="form-group col-md-4">
                <label for="add_cuisine_name" class="recipe-label ml-2"> <i class="far fa-map mr-2"></i> Cuisine </label>
                <select class="custom-select" id="add_cuisine_name" name="cuisine_name" required=required>
                                    <option disabled selected> Select cuisine </option>
                                    {% for cuisine in cuisines_list %}
                                    <option value="{{ cuisine }}"> {{ cuisine }} </option>
                                    {% endfor %}
                                </select>
              </div>

              <!-- ADD CATEGORY SELECTION -->
              <div class="form-group col-md-4">
                <label for="add_category_name" class="recipe-label ml-2"> <i class="far fa-clipboard mr-2"></i> Categories </label>
                <select multiple class="custom-select" id="add_category_name" name="category_name" required=required>
                                    <option disabled selected> Select category(s) </option>
                                    {% for category in categories_list %}
                                    <option value="{{ category }}"> {{ category }} </option>
                                    {% endfor %}
                                </select>
              </div>

              <!-- ADD AUTHOR NAME -->
              <div class="form-group col-md-4">
                <label for="add_author_name" class="recipe-label ml-2"> <i class="far fa-user mr-2"></i> Author </label>
                <input type="text" class="form-control text-capitalize" id="add_author_name" name="author_name" placeholder="Original recipe author">
              </div>
            </div>


            <!-- ADD RECIPE NAME -->
            <div class="form-group col-md-8">
              <label for="add_recipe_name" class="recipe-label ml-2"> <i class="fas fa-utensils mr-2"></i> Recipe name </label>
              <input type="text" class="form-control" id="add_recipe_name" name="recipe_name" placeholder="Input name of recipe" required=required>
            </div>

            <!-- ADD RECIPE DESCRIPTION -->
            <div class="form-group col-md-8">
              <label for="add_recipe_description" class="recipe-label ml-2"> <i class="fas fa-utensils mr-2"></i> Recipe description </label>
              <textarea class="form-control" id="add_recipe_description" name="recipe_description" rows="2" placeholder="Input description of recipe" required=required></textarea>
            </div>

            <!-- ADD RECIPE_URL -->
            <div class="form-group col-md-8">
              <label for="add_recipe_url" class="recipe-label ml-2"> <i class="far fa-image mr-2"></i> Recipe image </label>
              <input type="url" class="form-control" id="add_recipe_url" name="recipe_url" required=required placeholder="Add url for recipe image">
            </div>

            <div class="form-row">
              <!-- ADD PREPARATION TIME -->
              <div class="form-group col-md-4">
                <label for="add_preparation_time" class="recipe-label ml-2"> <i class="far fa-hourglass mr-2"></i> Preparation time (hh:mm) </label>
                <input type="time" class="form-control" id="add_preparation_time" name="preparation_time" required=required placeholder="Input preparation time">
              </div>

              <!-- ADD COOKING TIME -->
              <div class="form-group col-md-4">
                <label for="add_cooking_time" class="recipe-label ml-2"> <i class="far fa-clock mr-2"></i> Cooking time (hh:mm) </label>
                <input type="time" class="form-control" id="add_cooking_time" name="cooking_time" required=required placeholder=" Input cooking time">
              </div>

              <!-- ADD SERVING -->
              <div class="form-group col-md-4">
                <label for="add_servings_num" class="recipe-label ml-2"> <i class="fas fa-utensil-spoon mr-2"></i> Serves </label>
                <input type="number" min="1" class="form-control" id="add_servings_num" name="servings_num" required=required placeholder="Select servings">
              </div>
            </div>

            <div class="form-row">
              <!-- ADD DIFFICULTY SELECTION -->
              <div class="form-group col-md-4">
                <label for="add_difficulty_name" class="recipe-label ml-2"> <i class="fas fa-skiing mr-2"></i> Difficulty </label>
                <select class="custom-select" id="add_difficulty_name" name="difficulty_name" required=required>
                                    <option disabled selected> Select Difficulty </option>
                                    {% for difficulty in difficulties_list %}
                                    <option value="{{ difficulty }}"> {{ difficulty }} </option>
                                    {% endfor %}
                                </select>
              </div>

              <!-- ADD MAIN INGREDIENT -->
              <div class="form-group col-md-4">
                <label for="add_main_ingredient" class="recipe-label ml-2"> <i class="fas fa-mortar-pestle mr-2"></i> Main Ingredient </label>
                <input type="text" class="form-control text-capitalize" id="add_main_ingredient" name="main_ingredient" placeholder="Input main ingredient" required=required>
              </div>

              <!-- ADD ALLERGEN SELECTION -->
              <div class="form-group col-md-4">
                <label for="add_allergen_name" class="recipe-label ml-2"> <i class="fas fa-allergies mr-2"></i> Allergen </label>
                <select multiple class="custom-select" id="add_allergen_name" name="allergen_name" required=required>
                                    <option disabled selected> Select Allergen(s) </option>
                                    {% for allergen in allergens_list %}
                                    <option value="{{allergen }}"> {{ allergen }} </option>
                                    {% endfor %}
                                 </select>
              </div>
            </div>

            <!-- ADD INGREDIENT(S) -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <div class="ingredients-list" id="ingredients_list">
                  <label for="add_ingredients" class="recipe-label ml-2"> <i class="fas fa-shopping-cart mr-2"></i> Ingredients </label>
                  <input type="text" class="input form-control mb-2 mr-2" id="add_ingredient1" name="recipe_ingredient" placeholder="Input ingredient" required=required />
                  <input type="text" class="input form-control mb-2 mr-2" id="add_ingredient2" name="recipe_ingredient" placeholder="Input ingredient" />
                  <input type="text" class="input form-control mb-2 mr-2" id="add_ingredient3" name="recipe_ingredient" placeholder="Input ingredient" />
                  <input type="text" class="input form-control mb-2 mr-2" id="add_ingredient4" name="recipe_ingredient" placeholder="Input ingredient" />
                  <input type="text" class="input form-control mb-2 mr-2" id="add_ingredient5" name="recipe_ingredient" placeholder="Input ingredient" />

                  <div class="list-more-ingredients">
                    <button> <span class="more-ingredients"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add ingredient </span> </button>
                  </div>
                </div>
              </div>

              <!-- ADD INSTRUCTION(S) -->
              <div class="form-group col-md-6">
                <div class="instructions-list" id="instructions_list">
                  <label for="add_instructions" class="recipe-label ml-3"> <i class="fas fa-book-reader mr-2"></i> Instructions </label>
                  <textarea class="input form-control mb-2 ml-2" id="add_instructions1" rows="2" name="recipe_method" placeholder="Input instructions" required=required></textarea>
                  <textarea class="input form-control mb-2 ml-2" id="add_instructions2" rows="2" name="recipe_method" placeholder="Input instructions"></textarea>

                  <div class="list-more-instructions ml-2">
                    <button> <span class="more-instructions"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add instruction </span> </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- BUTTONS -->
            <div class="form-group text-center">
              <button class="btn btn-outline-warning" type="submit" name="action"> <i class="fa fa-plus-circle"></i> Add Recipe </button>
              <a class="btn btn-outline-warning ml-4" href="/base"> <i class="fas fa-times-circle"></i> Cancel </a>
            </div>

          </form>

      </div>
    </section>
  </div>

  <!-- Footer -->
  {% include 'footer.html' %}

  <!-- Script -->
  {% include 'script.html' %}

</body>
</html>