<!DOCTYPE html>
<html lang="en">

<head>
  <title> Data Centric Development Project (Paul Bennett) </title>
  <!-- Required mega tags                 -->
  <meta charset="utf-8">
  <!-- Include standard links             -->{% include 'head.html' %}
  <!-- My Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}">
</head>

<!-- Bootstrap theme (Agency) downloaded from  https://github.com/BlackrockDigital/startbootstrap-agency -->

<body>

  <!-- NAVIGATION -->
  {% include 'navbar.html' %}

  <!-- HEADER -->
  <header class="masthead text-center d-flex">
    <div class="container">
      <div class="intro-text">
        <div class="intro-text-background">
          <div class="intro-heading"> The Recipe Collection </div>

          {% if 'username' in session %}
            <div class="row justify-content-center">
            <a class="btn btn-primary btn-lg btn-rounded mt-2 mb-2 mr-1" href="{{ url_for('add_recipe', username=session['username']) }}"> Add Recipes </a>
            <a class="btn btn-primary btn-lg btn-rounded mt-2 mb-2 mr-1" href="{{ url_for('by_recipes') }}"> All Recipes </a>
            <a class="btn btn-primary btn-lg btn-rounded mt-2 mb-2 mr-1" href="{{ url_for('by_my_recipes', username=session['username']) }}"> My Recipes </a> {% else %}
            <p class="text-dark mt-2 mb-2"> SIGN IN to add your own recipe(s) </p> <br>
            <a class="btn btn-primary btn-lg btn-rounded mt-2 mb-2 mr-1" href="/register_user"> Register </a>
            <a class="btn btn-primary btn-lg btn-rounded mt-2 mb-2 mr-1" href="/sign_in_user">  Sign In  </a> 
            </div>
          {% endif %}

          <!-- Flash Messaging -->
          {% include 'messaging.html' %}
        </div>
      </div>
    </div>
  </header>
  
  <!-- WELCOME USER -->
  {% if 'username' in session %}
    <section class="bg-primary-welcome">
      <div class="col-sm-6 userwelcome mx-auto text-center"> <span> Welcome {{ session['username'] }} </span> </div>
    </section>
  {% endif %}

  <!-- FIND OUT MORE SECTION -->
  <section class="bg-primary" id="findoutmore">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 mx-auto text-center">
          <h5 class="section-title text-muted"> The recipe collection provides the following: </h5>
          <hr class="dark"> </hr>
          <ul class="text-dark findoutmore-list text-left pl-3">
            <ul>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Register / Sign-in users. </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> View recipes. </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> View my recipes by user. </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Search recipes by without an allergen. </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Search recipes by category, cuisine, difficulty and main ingredient. </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Add recipe (registered user). </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Delete recipe (registered user). </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Edit recipe (registered user). </li>
              <li style="list-style-image: url(../static/images/website/recipes-cooking-book.png);"> Vote to like / dislike recipe. </li>
            </ul>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- FOOTER -->
  {% include 'footer.html' %}

  <!-- SCRIPT -->
  {% include 'script.html' %}

</body>
</html>