<!DOCTYPE html>
<html lang="en">

<head>
                                                          <title> Data Centric Development Project "BY_DIFFICULTY.HTML" (Paul Bennett) </title>
    <!-- Include standard links                       --> {% include 'head.html' %}                                                       
    <!-- My Custom styles for this template           --> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}"> 
</head>
 
<!-- Bootstrap theme (Creative) downloaded from  https://github.com/BlackrockDigital/startbootstrap-agency -->
<body>

  <!-- Navigation Navbar  -->
  {% include 'navbar_recipes.html' %}

  <!-- Header -->
    <header class="masthead text-center text-white d-flex">  
        <div class="container">
            <div class="intro-text">
                <div class="intro-text-background">
                <div class=" h3 text-dark"> {{ difficulty_name }} Recipes </div> 
                <p class="text-dark mb-2"> Click on image below to view the recipe. </p> </br>
                <a class="btn btn-primary btn-lg btn-rounded" href="/by_recipes"> Return to Recipes </a>
    </header>
    
  <!-- Cuisine cards by cuisine_name -->
    <section class="bg-primary">
        <div class="container cuisine-cards mt-4">
            <h3 class="text-dark text-center cuisines-heading"> {{ difficulty_name }} Recipes 
            <p  class="text-dark text-center cuisines-p mt-2">  {{ recipe_difficulty_count }}  &nbsp; recipe(s) found (Sorted by cuisine) </p>
            
            <div class="row mt-3">
              {% for recipe in recipes_document_by_difficulty %} 
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <div class="card-body">
                         <a href="{{ url_for('view_details_recipe', recipe_id=recipe._id) }}">
                         <img src="{{ recipe.recipe_url }}" class="img-fluid" alt="bbcgoodfood" style="border-bottom:1px solid black!important;"> </a>
                         <h5 class="card-title text-muted text-center mt-3"> {{ recipe.recipe_name }}        </h5> 
                         <p class="card-text text-left m-3">                 {{ recipe.recipe_description }} </p> 
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </section>

    
       <!-- Footer -->
    {% include 'footer.html' %}

          
    <!-- Script -->
    {% include 'script.html' %} 
    
</body>
</html>     