<footer id="footer" class="bg-secondary text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-4">
                <span class="copyright"> <small> Copyright &copy; My Cookbook Online 2019 </small> </span>
            </div>

            <div class="col-md-4 my-3">
                <ul class="list-inline list-social">
                    <li class="list-inline-item social-twitter">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                     <i class="fas fa-circle  fa-stack-2x">           </i>
                     <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                    </li>

                    <li class="list-inline-item social-facebook">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                     <i class="fas fa-circle     fa-stack-2x">           </i>
                     <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                    </li>

                    <li class="list-inline-item social-linkedin">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                     <i class="fas fa-circle      fa-stack-2x">           </i>
                     <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 my-3">
                <p> <small> Agency is a free to use, open source Bootstrap theme created by
               <a href="http://startbootstrap.com"> Start Bootstrap </small> </a>
                </p>
            </div>

        </div>
    </div>
</footer>