<!-- Flash Messaging -->
<div class="container mt-4">
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {%for category, message in messages %}
              
              <!-- Success Message -->
              {% if category == 'success' %}
                <div class="alert alert-success mb3" role="alert">
                  {{ message }}
                </div>
              {% endif %}
          
              <!-- Error Message -->
              {% if category == 'error' %}
                <div class="alert alert-danger mb3" role="alert">
                  {{ message }}
                </div>  
              {% endif %}
            
            {% endfor %}
      {% endif %}
  {% endwith %}
</div>      