<!-- Flash Messaging Alerts with categories -->
<!-- Downloaded from Pretty Printed https://youtu.be/lcVdZtVvnnk  -->

  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {%for category, message in messages %}
            
              <!-- Danger Message -->
              {% if category == 'danger' %}
                <div class="alert alert-danger m2" role="alert">
                  {{ message }} 
                </div>  
              {% endif %}
              
              <!-- Infomation Message -->
              {% if category == 'info' %}
                <div class="alert alert-info m2" role="alert">
                  {{ message }} 
                </div>  
              {% endif %}
              
              <!-- Success Message -->
              {% if category == 'success' %}
                <div class="alert alert-success m2" role="alert">
                  {{ message }} 
                </div>  
              {% endif %}
              
              <!-- Warning Message -->
              {% if category == 'warning' %}
                <div class="alert alert-warning m2" role="alert">
                  {{ message }} 
                </div>
              {% endif %}  
              
            {% endfor %}
      {% endif %}
  {% endwith %}
