<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"> The Recipe Collection </a>
        <button class="navbar-toggler navbar-toggler-right" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarResponsive" 
                 aria-controls="navbarResponsive" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href={{ url_for( 'base' ) }}> Home <i class="fas fa-home fa-lg"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>