<!-- NAVIGATION NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#"> 
          <img src="../static/images/website/cooking_pot_logo.png" alt="Logo" class="img-responsive"> 
          The Recipe Collection 
        </a>
        <button class="navbar-toggler navbar-toggler-right" 
                 type="button" 
                 data-toggle="collapse" 
                 data-target="#navbarResponsive" 
                 aria-controls="navbarResponsive" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
                 Menu
                 <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('base') }}"> Home <i class="fas fa-home fa-lg"> </i></a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('by_recipes') }}"> All Recipes <i class="fas fa-utensils fa-lg"> </i></a></li>
            {% if 'username' in session %}
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('add_recipe', username=session['username']) }}"> Add Recipes <i class="fas fa-folder-plus fa-lg"></i> </i></a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('by_my_recipes', username=session['username']) }}"> My Recipes <i class="fas fa-book fa-lg"> </i></a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('sign_out_user') }}"> Sign Out <i class="fas fa-sign-out-alt fa-lg"></i></a></li> 
            {% else %}   
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('sign_in_user') }}"> Sign In  <i class="fas fa-sign-in-alt fa-lg"> </i></a></li>
              <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="{{ url_for('register_user') }}"> Register <i class="fas fa-user-plus fa-lg"> </i></a></li>
            {% endif %}
          </ul>
        </div>
      </div> 
    </nav>