<html lang="en">

<head>
                                                          <title> Data Centric Development Project "TEST.HTML" (Paul Bennett) </title>
    <!-- Include standard links                       --> {% include 'head.html' %}                                                       
    <!-- My Custom styles for this template           --> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}"> 
</head>
 
<!-- Bootstrap theme (Creative) downloaded from  https://github.com/BlackrockDigital/startbootstrap-agency -->
<body id="page-top">
   
  <section> 
   <div class="container">
        <div class="row">
          {% for cuisine in cuisines_document %} 
          <div class=" col-lg-3 col-md-4 col-sm-6">
            <div class="card text-muted text-center mb-4">
               <div class="card-body">
                  <a href="#">
                  <img src="{{ cuisine.cuisine_image }}" class="img-fluid" alt="bbcgoodfood" style="border-bottom: 1px solid black!important;"> 
                  <h5 class="card-title mt-3"> {{ cuisine.cuisine_name }} </h5> </a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
  </section>
      
    
     <!-- Script -->
    {% include 'script.html' %}      
    
</body>
</html>
